.nav-continer{
    width: 100%;
    min-width:845px;
    height: 60px;
    background-color: white;
    color: black;
 
}

.wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
}
.center{
    flex: 1;
    width: 100%;
    

}
.right{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.languages{
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.search-container{
    border: 0.5px solid lightgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;

}
.search_icon{
    color: gray;
    font-size: 16px;
}
.search-container>input{
    border: none;
    outline-width: 0;  
    width: 300px;  
    background-color: transparent;
}
.logo{
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: black;
    
}
.menu-item{
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-left: 25px;
    text-decoration: none;
    color: black;
}